@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');
:root{
  --lemon-bg:#E1EBA5;
  --darkGreen-bg:#003C25;
  --cream-bg:#FDFDFD;
  --white-bg:#ffff;
  --yellow-bg:#fee882;

}

